* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px 20px;
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border: 1px solid #fed811;
}

.logo img {
    height: auto;
    width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
    /* Ensure the pseudo-element is positioned relative to the li */
}

.nav-links a {
    text-decoration: none;
    color: #fed811;
    font-weight: 500;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    /* margin-top: 5px; */
    right: 0;
    background: #fed811;
    transition: width 0.3s ease;
    transition-delay: 0.1s;
}

.nav-links a:hover::after {
    width: 100%;
    left: 0;
    background: #fed811;
}

.cta .get-in-touch {
    background-color: #fed811;
    color: black;
    padding: 7px 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
}

.cta .get-in-touch:hover {
    background-color: black;
    color: white;
    border: 2px solid #fed811;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon .bar1,
.menu-icon .bar2,
.menu-icon .bar3 {
    width: 30px;
    height: 5px;
    background-color: #fed811;
    margin: 6px 0;
    transition: 0.4s;
}

.hero {
    position: relative;
    width: 100%;
    height: 150vh;
    overflow: hidden;
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (max-width: 768px) {
    .navbar {
        /* margin: 10px; */
        padding: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 95px;
        left: 0;
        background-color: black;
        border-radius: 10px;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    .nav-links.active {
        display: flex;
        border: 1px solid #fed811;
    }

    .cta {
        display: none;
    }
}

/* Hamburger menu animation */
.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* About Section */

.abt-heading {
    color: #fed811;
}

.about-section {
    display: flex;
    /* justify-content: space-between; */
    gap: 4em;
    align-items: center;
    padding: 50px;
    justify-content: center;
    background-color: black;
    color: white;
    margin-top: 160px;
    margin-bottom: 160px;
    min-height: 100%;
}

.text-content {
    max-width: 50%;
}

.text-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;
}

.text-content h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100px;
    height: 5px;
    background-color: #fed811;
}

.text-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #fed811;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #fed811;
}

.image-content {
    position: relative;
    max-width: 60%;
}

.image-stack {
    position: relative;
    width: 400px;
    height: 300px;
    cursor: pointer;

}

.image {
    position: absolute;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 10px;
    border: 1.5px solid #fed811;
}

.image-top {
    z-index: 2;
    transform: rotate(0deg);
}

.image-bottom {
    z-index: 1;
    transform: rotate(-10deg);
}

#our-mentors-head {
    padding: 1.3em 0;
    width: 100%;
    text-align: center;
    font-size: clamp(2.5rem, 2.5vh, 4rem);
    background-color: white;
    color: black;
}

#our-mentors {
    min-height: 100vh;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 50px;
    gap: 100px 50px;
}



#our-mentors .om-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 270px;
    border: 2px solid black;
    transition: .5s;
}


#our-mentors .om-card:hover {
    height: 400px;
}

#our-mentors .om-card .om-imgBox {
    position: absolute;
    top: 20px;
    width: 250px;
    height: 220px;
    background: #eeeeee;
    border-radius: 16px;
    transition: .5s;
}

#our-mentors .om-card .om-imgBox img {
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    width: 90%;
    height: 100%;
}

#our-mentors .om-card:hover .om-imgBox {
    top: -100px;
    scale: .75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.om-content {
    position: absolute;
    top: 200px;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    top: 252px;    
    height: 29px;
    overflow: hidden;
    transition: .5s;
}

.om-content .om-content-head {
    font-size: 1.2em;
    font-weight: 700;

}

#our-mentors .om-card:hover .om-content {
    top: 150px;
    height: 250px;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }

  #primary-heading {
    padding: 1.3em 0;
    width: 100%;
    text-align: center;
    font-size: clamp(2.5rem, 2.5vh, 4rem);
    background-color: white;
    color: black;
}

/* Media Queries for Responsive Design */
@media (max-width: 992px) {
    .about-section {
        flex-direction: column;
        /* text-align: center; */
        gap: 2em;
        padding: 30px;
        margin-top: 0;
        padding-bottom: 200px;
        /* margin-bottom: 200px; */
    }

    .text-content {
        max-width: 100%;
    }

    .image-content {
        max-width: 100%;
    }

    .image-stack {
        width: 300px;
        height: auto;
    }

    .image {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .text-content h1 {
        font-size: 2em;
    }

    .text-content p {
        font-size: 1em;
    }

    .cta-button {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .image {
        width: 100%;
    }
}

/* Footer */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: black;
}
.footercontainer{
    width: 100%;
    /* padding: 70px 30px 20px; */
    border-top: 1px solid #fed811;
}
.footerlogo{
    text-align: center;
    justify-content: center;
}
.footericons{
    display: flex;
    justify-content: center;
}
.footericons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
.footericons a i{
    font-size: 1.3em;
    color: #fed811;
}
.footericons a:hover{
    transition: 0.5s;
}
.footericons a:hover i{
    color: white;
    transition: 0.5s;
}
.footernav{
    margin: 30px 0;
}
.footernav ul{
    display: flex;
    justify-content: center;
}
.footernav ul li a{
    color: #fed811;
    margin: 20px;
    text-decoration: none;
    font-size: 1.1em;
    opacity: 0.7;
    transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 2;
}
.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: #fed811;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .footernav ul {
        flex-direction: column;
    }

    .footernav ul li {
        margin: 10px;
        text-align: center;
        width: 100%;
    }

    .footericons a {
        margin: 5px;
    }

    .footericons a i {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 480px) {
    .footercontainer {
        padding: 20px;
    }

    .footernav ul li a {
        font-size: 1em;
    }

    .footericons a i {
        font-size: 1em;
    }
}


