/* @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap'); */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .gold-font {
    background: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
    animation: MoveBackgroundPosition 6s ease-in-out infinite;
} */


@keyframes MoveBackgroundPosition {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: "Arimo", sans-serif;
    font-optical-sizing: auto; */
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}

.cursor {
    pointer-events: none;
}

.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}

.cursor__ball circle {
    fill: #f7f8fa;
}






.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px 20px;
    width: calc(100% - 40px);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border: 1px solid #fed811;
    transition: all 0.3s ease;
    /* Add transition for smooth effect */
}

.navbar.scrolled {
    width: 100%;
    left: 0;
    transform: translateX(0);
    top: 0;
    border-radius: 0;
    border: none;
    padding: 10px 20px;
}


.logo img {
    height: auto;
    width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
    /* Ensure the pseudo-element is positioned relative to the li */
}

.nav-links a {
    text-decoration: none;
    color: #fed811;
    font-weight: 500;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    /* margin-top: 5px; */
    right: 0;
    background: #fed811;
    transition: width 0.3s ease;
    transition-delay: 0.1s;
}

.nav-links a:hover::after {
    width: 100%;
    left: 0;
    background: #fed811;
}

.cta .get-in-touch {
    background-color: #fed811;
    color: black;
    padding: 7px 14px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
}

.cta .get-in-touch:hover {
    background-color: black;
    color: white;
    border: 2px solid #fed811;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon .bar1,
.menu-icon .bar2,
.menu-icon .bar3 {
    width: 30px;
    height: 5px;
    background-color: #fed811;
    margin: 6px 0;
    transition: 0.4s;
}

.hero {
    position: relative;
    width: 100%;
    height: 150vh;
    overflow: hidden;
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (max-width: 768px) {
    .navbar {
        /* margin: 10px; */
        padding: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 95px;
        left: 0;
        background-color: black;
        border-radius: 10px;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    .nav-links.active {
        display: flex;
        border: 1px solid #fed811;
    }

    .cta {
        display: none;
    }
}

/* Hamburger menu animation */
.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* About Section */

@keyframes fadeInSlideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSlideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-section {
    display: flex;
    gap: 4em;
    align-items: center;
    padding: 50px;
    justify-content: center;
    background-color: black;
    color: white;
    margin-top: 160px;
    margin-bottom: 160px;
    min-height: 100%;
}

.text-content {
    max-width: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.text-content.animate {
    opacity: 1;
    animation: fadeInSlideFromTop 1s ease-in-out;
}

.image-content {
    position: relative;
    max-width: 60%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-content.animate {
    opacity: 1;
    animation: fadeInSlideFromBottom 1s ease-in-out;
}

.image-stack {
    position: relative;
    width: 400px;
    height: 300px;
    cursor: pointer;
}

.image {
    position: absolute;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 10px;
    border: 1.5px solid #fed811;
}

.image-top {
    z-index: 2;
    transform: rotate(0deg);
}

.image-bottom {
    z-index: 1;
    transform: rotate(-10deg);
}

.abt-heading {
    color: #fed811;
}

.text-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    position: relative;
}

.text-content h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100px;
    height: 5px;
    background-color: #fed811;
}

.text-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #fed811;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #fed811;
}




/* our mentors */

#our-mentors-2 {
    width: 100%;
    min-height: 70vh;
    background-color: white;
    color: black;
}

#our-mentors-2 .om-2-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

#our-mentors-2 .om-2-container .om-2-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border: 3px solid #e0e0e0;
    transition: .5s;
}

#our-mentors-2 .om-2-container .om-2-box:nth-child(1) {
    border-left: none;
}

#our-mentors-2 .om-2-container .om-2-box:nth-child(2) {
    border-left: none;
    border-right: none;
}

#our-mentors-2 .om-2-container .om-2-box:nth-child(3) {
    border-right: none;
}

#our-mentors-2 .om-2-container .om-2-box:hover {
    background-color: black;
    color: white;
}

#our-mentors-2 .om-2-container .om-2-box:hover .om-company-logo {
    background-color: white;
}


.om-company-logo {
    width: 80%;
    padding: 1rem;
    border-radius: 2rem;
    transition: .5s;
}

.om-company-logo img {
    width: 100%;
    aspect-ratio: 5/1;
    object-fit: contain;
}




#our-mentors-2 .om-2-container .om-2-box .om-img {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}


#our-mentors-2 .om-2-container .om-2-box .om-img img {
    width: 50%;
    border-radius: 8rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

#our-mentors-2 .om-2-container .om-2-box .om-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}



#our-mentors-2 .om-2-container .om-2-box .om-name h3 {
    text-transform: uppercase;
    font-size: 1.8rem;

}

#our-mentors-2 .om-2-container .om-2-box .om-name h5 {
    font-size: 1.2rem;
}

#our-mentors-2 .om-2-container .om-2-box .om-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    padding-bottom: 2rem;
}

#our-mentors-2 .om-2-container .om-2-box .om-description .om-about {
    text-align: center;
}



#our-partners {
    background-color: white;
    padding: 20px;
    text-align: center;
}


.logos-slide {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo-box {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* Ensure images fit within their containers */
.logo-box img {
    max-width: 100%;
    max-height: 100px;
    /* Adjust this value based on your design */
    height: auto;
    width: auto;
}


#primary-heading-w {
    padding: 1.3em 0;
    width: 100%;
    text-align: center;
    font-size: clamp(2.5rem, 2.5vh, 4rem);
    background-color: white;
    color: black;
    font-weight: 700;
}

#primary-heading-b {
    padding: 1.3em 0;
    width: 100%;
    text-align: center;
    font-size: clamp(2.5rem, 2.5vh, 4rem);
    background-color: black;
    color: white;
    font-weight: 700;
}

/* testimonials  */
#testimonials {
    position: relative;
    height: 100vh;
    background-color: white;
}

.testim {
    background-color: inherit;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #000;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
    cursor: pointer;
}

.testim .arrow:hover {
    color: gold;
}


.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
    height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: gold;
    border-color: gold;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;
    -moz-animation: testim-scale .5s ease-in-out forwards;
    -ms-animation: testim-scale .5s ease-in-out forwards;
    -o-animation: testim-scale .5s ease-in-out forwards;
    animation: testim-scale .5s ease-in-out forwards;
}

.testim .cont {
    position: relative;
    overflow: hidden;
}

.testim .cont>div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont>div.inactive {
    opacity: 1;
}


.testim .cont>div.active {
    position: relative;
    opacity: 1;
}


.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: gold;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #000;
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;
    -moz-animation: testim-show .5s ease-in-out forwards;
    -ms-animation: testim-show .5s ease-in-out forwards;
    -o-animation: testim-show .5s ease-in-out forwards;
    animation: testim-show .5s ease-in-out forwards;
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;
    -moz-animation: testim-content-in .4s ease-in-out forwards;
    -ms-animation: testim-content-in .4s ease-in-out forwards;
    -o-animation: testim-content-in .4s ease-in-out forwards;
    animation: testim-content-in .4s ease-in-out forwards;
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;
    -moz-animation: testim-content-in .5s ease-in-out forwards;
    -ms-animation: testim-content-in .5s ease-in-out forwards;
    -o-animation: testim-content-in .5s ease-in-out forwards;
    animation: testim-content-in .5s ease-in-out forwards;
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;
    -moz-animation: testim-hide .5s ease-in-out forwards;
    -ms-animation: testim-hide .5s ease-in-out forwards;
    -o-animation: testim-hide .5s ease-in-out forwards;
    animation: testim-hide .5s ease-in-out forwards;
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;
    -moz-animation: testim-content-out .4s ease-in-out forwards;
    -ms-animation: testim-content-out .4s ease-in-out forwards;
    -o-animation: testim-content-out .4s ease-in-out forwards;
    animation: testim-content-out .4s ease-in-out forwards;
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;
    -moz-animation: testim-content-out .5s ease-in-out forwards;
    -ms-animation: testim-content-out .5s ease-in-out forwards;
    -o-animation: testim-content-out .5s ease-in-out forwards;
    animation: testim-content-out .5s ease-in-out forwards;
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px gold;
        box-shadow: 0px 0px 10px 5px gold;
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px gold;
        box-shadow: 0px 0px 0px 0px gold;
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px gold;
        box-shadow: 0px 0px 10px 5px gold;
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px gold;
        box-shadow: 0px 0px 0px 0px gold;
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px gold;
        box-shadow: 0px 0px 10px 5px gold;
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px gold;
        box-shadow: 0px 0px 0px 0px gold;
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px gold;
        box-shadow: 0px 0px 10px 5px gold;
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px gold;
        box-shadow: 0px 0px 0px 0px gold;
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }

    70% {
        box-shadow: 0px 0px 10px 5px gold;
    }

    100% {
        box-shadow: 0px 0px 0px 0px gold;
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }

    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}



@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}

@media all and (max-width: 500px) {
    .testim .arrow {
        font-size: 1.5em;
    }

    .testim .cont div p {
        line-height: 25px;
    }

}




/* Media Queries for Responsive Design */
@media (max-width: 992px) {
    .about-section {
        flex-direction: column;
        /* text-align: center; */
        gap: 2em;
        padding: 30px;
        margin-top: 0;
        padding-bottom: 200px;
        /* margin-bottom: 200px; */
    }

    .text-content {
        max-width: 100%;
    }

    .image-content {
        max-width: 100%;
    }

    .image-stack {
        width: 300px;
        height: auto;
    }

    .image {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .text-content h1 {
        font-size: 2em;
    }

    .text-content p {
        font-size: 1em;
    }

    .cta-button {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .image {
        width: 100%;
    }
}

/* Footer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: black;
}

.footercontainer {
    width: 100%;
    /* padding: 70px 30px 20px; */
    border-top: 1px solid #fed811;
}

.footerlogo {
    text-align: center;
    justify-content: center;
}

.footericons {
    display: flex;
    justify-content: center;
}

.footericons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.footericons a i {
    font-size: 1.3em;
    color: #fed811;
}

.footericons a:hover {
    transition: 0.5s;
}

.footericons a:hover i {
    color: white;
    transition: 0.5s;
}

.footernav {
    margin: 30px 0;
}

.footernav ul {
    display: flex;
    justify-content: center;
}

.footernav ul li a {
    color: #fed811;
    margin: 20px;
    text-decoration: none;
    font-size: 1.1em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover {
    opacity: 2;
}

.footerbottom {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerbottom p {
    color: #fed811;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .footernav ul {
        display: none;
    }

    .footernav ul li {
        margin: 10px;
        text-align: center;
        width: 100%;
    }

    .footericons a {
        margin: 5px;
    }

    .footericons a i {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 480px) {
    .footercontainer {
        padding: 20px;
    }

    .footernav ul li a {
        font-size: 1em;
    }

    .footericons a i {
        font-size: 1em;
    }
}

/* gallery */


.gallery .container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
    overflow: hidden;
}

.gallery .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
    overflow: hidden;
}

.gallery .mySwiper .swiper-pagination-bullet-active {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #f49892;
    opacity: 1 !important;
}

.gallery .mySwiper .swiper-pagination-bullet {
    width: 25px;
    height: 4px;
    display: inline-block;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #f49892;
}

.gallery .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
    max-width: 1490px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(2);
    flex-direction: column;
    align-items: center;
}

.gallery .responsive-container-block.bg {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: 1320px;
}

.gallery .text-blk.title {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    text-align: left;
    color: #f49892;
    max-width: 1490px;
    width: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.gallery .text-blk.heading {
    font-size: 20px;
    line-height: 30px;
    color: white;
    font-weight: 400;
    text-align: center;
    max-width: 480px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    width: 480px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.gallery .container-block.card {
    width: 32.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery .text-blk.card-text {
    width: 100%;
    text-align: center;
    background-color: #333333;
    color: white;
    font-size: 20px;
    line-height: 34px;
    padding-top: 35px;
    padding-right: 15px;
    padding-bottom: 35px;
    padding-left: 15px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.gallery .text-blk.name {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 27.28px;
    font-weight: 700;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.gallery .text-blk.desig {
    color: white;
    text-align: center;
    line-height: 21.82px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gallery .responsive-container-block.card-cont {
    justify-content: space-evenly;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
}

.gallery .container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
}

.gallery .swiper-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.gallery .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 80px;
    margin-left: 0px;
    width: 32.5%;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
}

.gallery .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .swiper-pagination.container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.gallery .swiper-container.mySwiper {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    max-width: 1490px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.gallery .swiper-slide.card-sel {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.gallery .responsive-container-block.img {
    min-height: 245px;
    background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/PM2.4.png");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.gallery .text-blk.info {
    font-size: 20px;
    line-height: 27.28px;
    color: #999999;
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    max-width: 400px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.gallery .text-blk.date {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 25px;
    line-height: 34px;
    color: white;
    font-weight: 700;
    background-color: #f43b2f;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.gallery .responsive-container-block.blue-cont {
    background-color: #f4fcff;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(-1);
    width: 50%;
    position: absolute;
    float: right;
    left: 0px;
    height: 100%;
    bottom: 0px;
    top: 0px;
}

.gallery .text-blk.desc {
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 25px;
    line-height: 34.1px;
    color: #666666;
    font-weight: 700;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.gallery #ipmmi {
    color: black;
}

.gallery .im {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: auto;
}

.gallery #iwcuv {
    color: black;
}

.gallery #itnqd {
    color: black;
}

.gallery #igv7i {
    color: black;
}

.gallery #iswt7 {
    color: black;
}

@media (max-width: 1024px) {
    .gallery .text-blk.title {
        width: 100%;
    }

    .gallery .text-blk.heading {
        width: 100%;
    }

    .gallery .text-blk.title {
        width: auto;
    }
}

@media (max-width: 768px) {
    .gallery .text-blk.card-text {
        width: 100%;
    }

    .gallery .text-blk.heading {
        font-size: 18px;
    }

    .gallery .text-blk.title {
        font-size: 32px;
        margin-top: 40px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: 0px;
        line-height: 40px;
    }
}

@media (max-width: 500px) {
    .gallery .text-blk.card-text {
        width: 100%;
    }

    .gallery .text-blk.heading {
        font-size: 16px;
        line-height: 26px;
    }

    .gallery .text-blk.title {
        font-size: 26px;
        line-height: 36px;
    }
}


/* responsive swiper */


*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wk-desk-1 {
    width: 8.333333%;
}

.wk-desk-2 {
    width: 16.666667%;
}

.wk-desk-3 {
    width: 25%;
}

.wk-desk-4 {
    width: 33.333333%;
}

.wk-desk-5 {
    width: 41.666667%;
}

.wk-desk-6 {
    width: 50%;
}

.wk-desk-7 {
    width: 58.333333%;
}

.wk-desk-8 {
    width: 66.666667%;
}

.wk-desk-9 {
    width: 75%;
}

.wk-desk-10 {
    width: 83.333333%;
}

.wk-desk-11 {
    width: 91.666667%;
}

.wk-desk-12 {
    width: 100%;
}

@media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }

    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
}